*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Home{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color:black;
}

#About{
    height: 100vh;
    
    background-color: burlywood;
}
#container{
    height: 70px;
    width: 330px;
    background-color: rgb(13, 13, 12);
    position: absolute;
    top: 18%;
    resize: both;
    font-size: 100px;
    font-family: "Space Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#text{
    padding: 0%;
    margin: 0%;
}